---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Instant FAQ Responses",
    description:
      "Utilize AI to provide quick, accurate answers to common recruitment questions, boosting efficiency and satisfaction.",
    icon: "bx:bxs-chat",
  },
  {
    title: "Customizable Knowledge Base",
    description:
      "Easily adapt the bot’s responses to align with your company's specific requirements and cultural tone.",
    icon: "bx:bxs-customize",
  },
  {
    title: "Integration Friendly",
    description:
      "Effortlessly connects with major HR platforms and communication tools, enhancing workflow continuity.",
    icon: "bx:bxs-plug",
  },
  {
    title: "Analytics Dashboard",
    description:
      "Access insights into frequent queries and interaction patterns to continuously improve the recruitment process.",
    icon: "bx:bxs-dashboard",
  },
  {
    title: "24/7 Availability",
    description:
      "Our bot works round the clock to ensure no candidate question goes unanswered, elevating the recruitment experience.",
    icon: "bx:bxs-time",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Streamline Your Recruitment Process
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    HirChat brings cutting-edge AI assistance to your hiring
    workflow, allowing you to focus more on engaging with top talent.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
